/* styles */
/*Font imported*/
/*NUNITO*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Dancing script */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.nunito {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

.dancing-script {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size:
}


html { 
    box-sizing: border-box;
}
*,*:before, *:after{
    box-sizing: inherit;
}

/*Encompassing all contents except 
 and footer*/
body .container-border {
    border: 5px inset aquamarine;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;

    
}

/* ---------SECTION 1--------- */
/*Project Odin Recipes*/
.heading {
    text-align: center;
    color: black;
    background: 
        linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
        linear-gradient(127deg, rgba(32, 178, 240, 0.8), rgba(0,255,0,0) 70.71%),
        linear-gradient(336deg, rgba(97, 217, 121, 0.8), rgba(0,0,255,0) 70.71%);
    width: auto;
    height: auto;
    padding: 1px;
    border-top-right-radius: 40px;

}

/*Cooking with Doktora Kara - tales of her Filipino palette*/
.heading .subtitle {
   
}

/*Icon of RECIPE*/
.recipe-icon {
    margin: 5px;
}

/* ---------SECTION 2--------- */
/*MENU*/ 
/*Main Dishes and Desserts*/
nav .subtitle {
    background-color: rgb(225,228,196);
    border: 5px outset rgb(36, 192, 137);
    display: inline-block;
    padding: 5px 15px;
    margin: 10px auto;
    border-radius: 10px;
}


/*Navigation area containing main dishes and desserts*/
nav {
    width: 400x;
    margin: auto;
    padding: 1em;
    border: 5px outset rgb red;
    background-color: beige;
    border-bottom-left-radius: 50px;

}
/* RECIPE BUTTONS when mouse-over, button turns pink*/
button:hover {
    background-color: pink;
    transition: 0.7s;
    }


.recipe {
    margin: auto;
    display: inline-block;
    border-left: 5px solid rgb(127,225,192);
    
}
/* ----------SECTION 3 INQUIRIES --------- */
section p.inquiries {
   background: yellow;
    color: black;
    width: auto;
    padding-top: 25px;
    padding-bottom: 25px;

    /* vertical center */
        text-align: center;
        line-height: auto;
        height: auto;

    /*horizontal center*/
        margin: auto; 
}

span {
    font-weight:700;
    color: red;
    font-style: italic;
}

/*Footer at the bottom*/
footer div {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(127,225,192);
    margin-top: 100px;
    padding: 50px 50px 50px 50px;
    border: 10px outset aquamarine;
}
